<div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-6 ">
          <h1>Welcome to our pizza place!</h1>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Create your own pizza!</h3>
          <hr />
          <div class="name-input">
            <label for="name-input">Pizza Name</label>
            <div class="input-group" id="yes">
              <input type="text" class="form-control" id="name" name="name" ngModel required #nameInput="ngModel">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="onGenerate(f)">Generate</button>
              </span>
            </div>
            <p *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">Please give Your pizza a name.</p>
          </div>
          <div class="form-group">
            <label for="pizza-size">Choose Size</label>
            <select id="pizza-size" class="form-control" name="pizzaSize" [ngModel]="'small'">
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </div>
          <div class="form-group">
            <strong>Ketchup Type</strong>
            <div class="radio" *ngFor="let ketchupType of ketchupTypes">
              <label for="ketchupType">
                <input type="radio" id="ketchupType" [value]="ketchupType" name="ketchup" [ngModel]="ketchupTypes[0]"> {{ ketchupType }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <strong>Ingredients</strong>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="cheese" [(ngModel)]="cheese">Cheese</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="ham" [(ngModel)]="ham">Ham</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="egg" [(ngModel)]="egg">Egg</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="mushroom" [(ngModel)]="mushroom">Mushroom</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="paprika" [(ngModel)]="paprika">Paprika</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="olives" [(ngModel)]="olives">Olives</label>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Order Now</button>
        </div>
      </div>
    </div>
  </form>
</div>